__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.env
*.env
.env.local

/data/**
!data/.gitkeep
*.csv
*.parquet
*.db

/models/**
!models/.gitkeep
*.pkl
*.h5
*.onnx

*.log
logs/
tensorboard/
rl_tensorboard/

mlartifacts/
mlflow.db

.vscode/
.idea/
*.swp
*.swo
.DS_Store
